/target/
/.Rproj.user/
/.renv/
renv/library/
*.refmat.tsv

.DS_Store
/testdata/*
!/testdata/sce.rds
!/testdata/sce.expected.tsv
!/testdata/anndata.h5ad
!/testdata/anndata.expected.tsv
!/testdata/seurat-v3.rds
!/testdata/seurat-v4.rds
!/testdata/seurat-legacy.expected.tsv
